racket-mode/
auto-save-list/
elpa/
.mc-lists.el
recentf
tramp
projects
eshell/
projectile-bookmarks.eld
projectile.cache
snippets/
url/
/.emacs.desktop.lock
/bookmarks
/desktop-save/.emacs.desktop
/desktop-save
/transient/
.emacs.desktop
eln-cache/
org-roam.db
/epkgs/
*-autoloads.el
history
tabsession.el
persist/